
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Muli');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.button-reflectie {
  margin: 8px;
  float: right;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(4, 156, 232, 0.16), 0 1px 4px 0 rgba(3, 25, 33, 0.08);
  background-image: linear-gradient(to bottom, #32baef, #5bc8f3);
  border: solid 1px #049ce8;
}
.Reflectie-Response{
  width:70%;
  float: right;
  padding: 10px 0 0 16px;
  margin-right: 5%;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(190, 233, 250, 0.32);
  background-color: #fdf2fa;
  border: solid 1px #f3c9e7;
  margin: 4px;
}

.Reflectie-Bottom
{
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.Reflectie-input {
  height: 40px;
  margin-top: 5px;
  margin-left: 3px;
  background-color: #ffffff;
  font-family: Muli;
  font-size: 16px;
  width: 75%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-color: transparent;
  color: #bec9cd;
}

.body-reflectie{
  height: 100%;
  width: 100%;
}

.topbar-reflectie-button-left {
  position: relative;
  top: 25%;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(3, 25, 33, 0.08);
  background-color: #f1f7fa;
  border: solid 1px #d7e1e8;
  float: left;
  }

.topbar-reflectie-button {
position: relative;
top: 25%;
height: 32px;
float: right;
border-radius: 4px;
box-shadow: 0 1px 4px 0 rgba(3, 25, 33, 0.08);
background-color: #f1f7fa;
border: solid 1px #d7e1e8;
}
.vraagbox-reflectie-text {
  width: 281px;
  padding: 0 0 14px 16px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.vraagbox-reflectie-titel {
  //width: 46px;
  height: 21px;
  padding-left: 16px;
  font-family: Muli;
  font-size: 10px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #f3c9e7;
}

.vraagbox-reflectie {
  position: relative;
  left: 5%;
  top: 10%;
  width: 85%;
  height: 88px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #d954b4, #e177c3);
  border: solid 1px #d00899;
  margin-bottom: 10px;
  margin-top: 10px;
}

.remove {
  position: relative;
  width: 100%;
  padding-bottom: 12px;
  padding-right: 22px;
  text-align: right;
  float: right;
}

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fixed-header {
  padding-left: 0;
  margin-right: 0;
  box-shadow: inset 0 -1px 0 0 #d7e1e8;
}

.fixed-bottom {
  padding-left: 0;
  margin-right: 0;
  box-shadow: inset 0 1px 0 0 #d7e1e8;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg {
  width: 64px;
  height: 32px;
  margin-top: 14px;
  padding: 5px 7px 7px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(3, 25, 33, 0.08);
  background-color: #f1f7fa;
  border: solid 1px #d7e1e8;
  float: right;
  font-size: 12px;
}

.test {
  width: 75% !important;
  height: 28px !important;
  float: left !important;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 18px;
}

.test2 {
  width: 55%;
  height: 28px;
  float: left;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 18px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  height: 57px;
  overflow: hidden;
}

/* Links inside the navigation bar */
.container a {
    float: left;
    display: block;
    border-bottom: 2px solid transparent;
}

.container a:hover {
    border-bottom: 2px solid #32baef;
}

.container a.active {
    border-bottom: 2px solid #32baef;
}

.bg-light {
    background-color: #ffffff !important;
}

.active {
  height: auto;
}
.bar-select {
  height: 2px;
  background-color: #32baef;
}

.more-button {
  border-style: none;
  background: none;
  font: 16px Serif;
  color: #32baef;
  margin: 0 0 10px 0;
  left: 0px;
  text-decoration: underline;
  line-height: normal;
}

.growable input:checked {
  color: red;
}

.more-button:hover {
  color: black;
}
.growable {
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    z-index: 999;
  }
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  margin: 0 !important;
  background-color: rgba(3, 25, 33, 0.32);
  transition: opacity .5s;
}
.memo-bottom
{
  position: absolute;
  text-align: left;
  bottom: 16%;
  margin: 24px 5% 24px 5%;
  width: 40%;
}
  .waarden-bottom
  {
    transition: bottom .3s;
    position: absolute;
    width: 90%;
    text-align: right;
    bottom: 14%;
    margin: 24px 5% 24px 5%;
  }
  .title_scrollmenu{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .title_value{
    text-align: left;
    display: inline-block;
    float: left;
  }
  .scrollmenu {
    overflow: scroll;
    height: 200px;
}
.antwoordenblok {
    background-color: #ffffff;
    height: 48px;
    width: 90%;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: inset 0 1px 3px 0 #d7e1e8;
    border: solid 1px #d7e1e8;
    margin: 24px 5% 24px 5%;

}

.table th, .table td {
    border-top: 0px
}

.table {
  text-align: center;
}

.example1 {
  width: 100%;
  text-align: right;
}
