
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Muli');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.body-reflectie{
  height: 100%;
  width: 100%;
}

.topbar-reflectie-button {
position: relative;
top: 25%;
width: 64px;
height: 32px;
border-radius: 4px;
box-shadow: 0 1px 4px 0 rgba(3, 25, 33, 0.08);
background-color: #f1f7fa;
border: solid 1px #d7e1e8;
}
.vraagbox-reflectie-text {
  width: 281px;
  height: 48px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.vraagbox-reflectie-titel {
  width: 46px;
  height: 21px;
  font-family: Muli;
  font-size: 10px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: #f3c9e7;
}

.vraagbox-reflectie {
  position: relative;
  left: 10%;
  top: 10%;
  width: 297px;
  height: 88px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #d954b4, #e177c3);
  border: solid 1px #d00899;
}

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fixed-bottom {
  padding-left: 0;
  margin-right: 0;
  box-shadow: inset 0 1px 0 0 #d7e1e8;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flop {
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #d7e1e8;
}

#bg {
  width: 64px;
  height: 32px;
  margin-top: 14px;
  padding: 5px 7px 7px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(3, 25, 33, 0.08);
  background-color: #f1f7fa;
  border: solid 1px #d7e1e8;
  float: right;
  font-size: 12px;
}

.test {
  width: 80% !important;
  height: 28px !important;
  float: left !important;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 18px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  height: 57px;
}

.bg-light {
    background-color: #ffffff !important;
}

.bar-select {
  height: 2px;
  background-color: #32baef;
}
